on:
  workflow_dispatch:
  schedule:
    # run every 4 hours
    - cron: "20 */4 * * *"
name: Excavator
jobs:
  excavate:
    name: Excavate
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@main
      - name: Check for updates
        uses: ScoopInstaller/GithubActions@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: 1

  cleanup:
    name: Cleanup
    runs-on: ubuntu-latest
    needs: excavate
    permissions:
      contents: write
      actions: write
    steps:
      - name: Remove older workflow runs
        uses: ophub/delete-releases-workflows@main
        with:
          delete_releases: true
          delete_tags: true
          releases_keep_latest: 100
          delete_workflows: true
          workflows_keep_day: 7
          gh_token: ${{ secrets.GITHUB_TOKEN }}
